{% extends 'base.html' %}

{% set page_head_title = "Policy" %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{url_for('policy.static', filename='css/policy.css')}}"/>
{% endblock %}

{% block page_body_js %}
{#    <script src="{{ url_for('registration.static', filename='css/registration.css') }}"></script>#}
{% endblock %}

{% block page_body_main %}
    <body class="body_policy">
        <div class="main" id="main" dir="rtl">
            <div class="header">
                <h2 id="header"> מדיניות האתר</h2>
            </div>

            <div class="box_policy" dir="rtl"><br>
                <p><b id="policy">מדיניות אתר "האמפנדס של קרלוס" Carlos & Empanadas :</b></p>
                <p>
                <ul>
                    אתר זה ("האתר") מופעל ע"י חברת "ארבעת המופלאים" ("החברה"), בכתובת אינטרנט זו ומטרתו רכישת אמפנדס
                    ("המוצר").<br>
                    הגלישה באתר כפופה לתנאים המפורטים בתקנון ותנאי שימוש אלו ("התקנון"). אנא קרא את התקנון בקפידה, שכן
                    הגלישה באתר <br>
                    וביצוע פעולות בו מעידים על הסכמתך לתנאים הכלולים בתקנון, והוא מהווה חוזה מחייב בינך לבין החברה.<br>
                    האמור בתקנון זה בלשון זכר הוא לשם הנוחות בלבד והתקנון מתייחס לבני שני המינים באופן שווה.<br>
                    הפרטיות של המבקרים באתר שלנו חשובה לנו מאוד, ואנחנו מחויבים לשמירה עליה.<br>
                    המדיניות הזו מסבירה מה נעשה עם הפרטים האישיים שלכם.<br>
                    אנחנו עשויים למסור את הפרטים האישיים שלכם לכל אחד מהעובדים, המנהלים, המבטחים, היועצים המקצועיים,
                    הסוכנים, <br>
                    הספקים, או קבלני המשנה שלנו, במידה סבירה וכנדרש למטרות המצוינות במדיניות זו.<br>
                    אנחנו עשויים למסור את הפרטים האישיים שלכם לכל חברה בקבוצת החברות שלנו
                    (זה אומר כל חברות הבת שלנו, חברת הגג שלנו, וכל חברות הבת שלה).<br>
                    במידה סבירה וכנדרש למטרות המצוינות במדיניות זו.<br>
                    כל הרוכש מוצר באתר זה רשאי לבטל את העסקה בהתאם להוראות חוק הגנת הצרכן, התשמ"א-1981 (להלן: "החוק").
                    הרוכש מחויב לבדוק את המוצר מיד עם קבלתו.<br>
                    ניתן לבטל עסקה בגין מוצר אשר נרכש באתר, באמצעות הודעה בכתב לחברה, שיפורטו בה שמו המלא ומספר תעודת
                    הזהות של הרוכש (להלן: "הודעת הביטול"), <br>
                    החל מיום עשיית העסקה ועד 14 ימים מיום קבלת המוצר או מיום קבלת אישור ביצוע העסקה בכתב
                    (כמפורט בסעיף 14ג לחוק), לפי המאוחר מבניהם, והכל בהתאם להוראות החוק.<br>
                    מובהר בזאת, כי על המוצר להיות מוחזר לחברה מבלי שנעשה בו שימוש ומבלי שנפגם.<br>
                    האתר מאפשר ללקוחות קנייה נוחה, קלה ובטוחה של המוצר באמצעות האינטרנט.<br>
                    המחיר המופיע באתר בצמוד לכל מוצר הינו מחיר המוצר העדכני. האתר רשאי לעדכן מעת לעת את מחירי המוצרים
                    המוצעים לרכישה באתר,<br>
                    ללא קשר למועד ביצוע רכישה באתר, וללא צורך בהודעה על כך.<br>
                    הרכישה באתר הינה באמצעות כרטיס אשראי או בכל אמצעי תשלום אחר המופיע בעמוד התשלום.<br>
                    האתר רשאי בכל עת לשנות את מגוון המוצרים המוצעים לרכישה באתר, להחליפם להמעיט מהם, להוסיף עליהם,<br>
                    וכן לשלול זכות רכישה באתר על פי שיקול דעתו וללא כל הודעה או התראה
                    כל זכויות הקניין הרוחני באתר מכירות זה הינן רכושו הבלעדי של האתר.<br>
                    אין להעתיק, לשכפל, להפיץ, לפרסם או להשתמש בכל דרך אחרת במידע כלשהו מן האתר ו/או מאתר מכירות זה, אלא
                    אם ניתנה הסכמה לכך מראש ובכתב מטעם החברה.<br>
                    יצירת קשר-
                    בכל שאלה ו/או בירור לגבי המוצר, וכן בכל פנייה אחרת בעניין פגיעה בזכות או תוכן פוגע, יש ליצור קשר
                    באמצעות כתובת מייל/ מספר טלפון.<br>
                    <br></ul>
                </p>
            </div>
        </div>
    </body>
{% endblock %}