{% block side_navigation_bar %}
    <div class="sideNavigationBar" id="sideNavigationBar">
        <br><br>
        <a id="X" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9746;</a>
        <a href="/home"> ראשי</a>
        <a href="/shop"> הזמן אמפנדס</a>
        <a href="/registration"> הרשמה </a>
        <a href="/carlos_story"> הסיפור של קרלוס </a>
        <a href="/cook_with_carlos"> סדנאות</a>
        <a href="/questions"> מה השאלה ?</a>
        <a href="/contact">צור קשר </a>
        <a href="/policy">מדיניות האתר </a>
    </div>
{% endblock %}

