.body_order {
    background-image: url(../../../../static/media/background_main_page.png);
}

.detail {
    text-align: center;
    font-family: calibri, serif;
    color: black;
    font-size: 3.5vh;
}

.payInput {
    font-size: 15px;
    color: rgba(77, 81, 87, 1);
    width: 60vh;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0.5vh;
    resize: vertical;
    margin-bottom: 0.5vh;
    text-align: right;
    font-family: Calibri, serif;
    margin-left: 2vh;

}

.order_now_bp {
    box-shadow: 0 1vh 2vh 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(233, 196, 106);
    color: white;
    padding: 10px 16px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri, serif;
    border-radius: 12px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(38, 70, 83);
    margin-right: 15vh;
    margin-left: 15vh;
    margin-bottom: 6vh;
}

.order_now_bp:hover {
    background-color: rgb(252, 191, 73);
}

.order_page {

    padding: 0 10px;
    font-family: Calibri, serif;
    font-weight: bold;

}

.order_text {
    margin-left: 5vh;
    text-align: right;
    font-size: 20px;
    font-family: Calibri, serif;
    margin-right: 22vh;
}

.order_text2 {
    margin-left: 3vh;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Calibri, serif;
    margin-right: 19vh;
    color: green;

}

.radio {
    margin-right: 30vh;
}

.order_text3 {
    color: black;
    font-size: 18px;
    font-family: Calibri, serif;
    margin-left: 3vh;
    margin-bottom: 1vh;
}

.box_order {
    padding: 20px;
    width: 40%;
    font-family: calibri, serif;
    margin-right: 65vh;
    font-size: 17px;
    border-style: double;
    border-width: 0.5px;
    border-color: rgb(38, 70, 83);
    background-color: rgb(250, 237, 203);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.OrderForm {
    margin-right: 2vh;
}
